{% extends "base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card text-center">
                <h2 class="card-header">
                    Последние платежи
                </h2>

                <div class="card-body transaction-block">
                    {% for i, trans in transactions %}
                        <div class="row align-items-center">
                            <div class="col-3 col-date">
                                <p>{{ trans.time }}</p>
                            </div>
                            <div class="vl-line"></div>
                            <div class="col-6">
                                <div class="row align-items-center m-0">
                                    {% if trans.status == 1 %}
                                        <img class="mr-2" src="{{ url_for('static', filename='images/ok.svg') }}">
                                    {% else %}
                                        <img class="mr-2" src="{{ url_for('static', filename='images/pending.svg') }}">
                                    {% endif %}
                                    <div class="flex-column">
                                        {% if trans.status == 1 %}
                                            <p class="mb-0">Подтверждено</p>
                                        {% elif trans.status == 0 %}
                                            <p class="mb-0">Возвращено</p>
                                        {% elif trans.status == -1 %}
                                            <p class="mb-0">Ожидает подтверждения</p>
                                        {% elif trans.status == -2 %}
                                            <p class="mb-0">Отменено</p>
                                        {% endif %}
                                        <h5>0x8088c0...5356d271</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="vl-line"></div>
                            <div class="col-3">
                                {% if "payed" in trans.events %}
                                    <h4 class="mb-0" style="color: green">
                                        +{{ trans.events["payed"]["value"] }}₽</h4>
                                {% elif "withdrawed" in trans.events %}
                                    <h4 class="mb-0" style="color: red">-{{ trans.events["withdrawed"]["amount"] }}₽</h4>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h1 class="card-title">Арендный счет</h1>
                    <h3 class="card-text">{{ "{:,.2f}₽".format(balance) }}</h3>
                    <div class="vertical">
                        <p class="mb-0 mx-2">Сумма для пополнения</p><input type="number" step="0.01" value="0" id="buy-amount">
                    </div>
                    <button class="btn btn-dark mt-1 mb-4 w-75" onclick="buy($('#buy-amount')[0].value)">Пополнить счет
                    </button>
                    <div class="vertical">
                        <p class="mb-0 mx-2">Сумма для снятия</p><input type="number" step="0.01" value="0" id="withdraw-amount">
                    </div>
                    <button class="btn btn-dark mt-1 mb-1 w-75" onclick="withdraw($('#withdraw-amount')[0].value)">Снять со
                        счета
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <h2 class="card-header">
                    Текущее состояние
                </h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <p>Тариф в день:</p>
                            <p>Доход за сегодня:</p>
                            <p>Выведено сегодня:</p>
                            <p>Прибыль на конец дня:</p>
                        </div>
                        <div class="col-4">
                            <p>{{ "{:,.2f}₽".format(tariff) }}</p>
                            <p>{{ "{:,.2f}₽".format(total_payed) }} руб</p>
                            <p>{{ "{:,.2f}₽".format(total_withdrawed) }} руб</p>
                            <p>{{ "{:,.2f}₽".format(total_payed - total_withdrawed - tariff) }} руб</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
